<div class='intro'>
	<h1 class='intro__hed'><img alt='NBA Spell Jam' src='assets/title.png'></h1>
	<p class='intro__byline'>By
		<a href='{{meta.author.url}}' target='_blank'>
			{{meta.author.name}}
		</a> &amp; <a href='{{meta.author2.url}}' target='_blank'>
			{{meta.author2.name}}
		</a>
	</p>
</div>